<link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
<div id="page" style="position: relative;">
  <div id="stripe">

  </div>
  <div class="container-fluid">
    <div class="row align-items-center" id="logorow">
      <div class="col-3">
        <img id="logo" src="../assets/logo_navigator.png">
      </div>
      <div class="col-8">
      </div>
      <div id="lang" class="col-1 lang">
        <select style="background-color: #2ea3e1;color: white;border: none;" [(ngModel)]="french">
          <option [ngValue]="false">NL</option>
          <option [ngValue]="true">FR</option>
        </select>
      </div>
    </div>
  </div>
  <div id="videodiv">
    <img *ngIf="!french" loop=infinite width="100%" src="../assets/video_fundo_horizontal_holandes.gif" id="iphonestatico">
    <img *ngIf="!french" loop=infinite width="100%" src="../assets/video_fundo_vertical_mobile_holandes.gif" id="iphonemobile">
    <img *ngIf="!french" loop=infinite width="100%" src="../assets/video_fundo_vertical_holandes.gif" id="iphonetablet">
    <!--FR-->
    <img *ngIf="french" loop=infinite width="100%" src="../assets/Imagens_Frances/video_fundo_horizontal_frances.gif" id="iphonestatico">
    <img *ngIf="french" loop=infinite width="100%" src="../assets/Imagens_Frances/video_fundo_vertical_mobile_frances.gif" id="iphonemobile">
    <img *ngIf="french" loop=infinite width="100%" src="../assets/Imagens_Frances/video_fundo_vertical_frances.gif" id="iphonetablet">
  </div>
  <div id="stripe2"></div>
  <div class="imgtxt">
    <div id="imgresma">
    <img *ngIf="!french" id="resma" src="../assets/Imagens_Holandes/resma.png">
    <img *ngIf="french" id="resma" src="../assets/Imagens_Frances/resma.png">
    </div>
    <div id="txtresma">
      <div id="txtinner">
      <p *ngIf="!french" id="text">ELKE RIEM VAN NAVIGATOR KANTOORPAPIER BIEDT U EEN KANS OM EEN IPHONE X TE WINNEN.</p>
      <p *ngIf="french" id="text">CHAQUE PAQUET DE NAVIGATOR OFFICE PAPER VOUS DONNE UNE CHANCE DE GAGNER UN IPHONE X</p>
      </div>
    </div>
  </div>
  <div class="imgtxt">
    <div id="txtresma">
      <div id="txtinner2">
      <p *ngIf="!french" id="text2">GEBRUIK DE CODE OP DE ACHTERZIJDE VAN ELKE NAVIGATOR-RIEM OM DEEL TE NEMEN.</p>
      <p *ngIf="french" id="text2">POUR PARTICIPER, UTILISEZ LE CODE QUI SE TROUVE À L'ARRIÈRE DE CHAQUE PAQUET DE NAVIGATOR OFFICE PAPER.</p>
      </div>
    </div>
    <div id="imgiphone">
    <img *ngIf="!french" id="iphone" src="../assets/Imagens_Holandes/iphone.png">
    <img *ngIf="french" id="iphone" src="../assets/Imagens_Frances/iphone.png">
    </div>
    
  </div>
  <div class="wtg">
    <h2 *ngIf="!french" id="wt" >WAAR NAVIGATOR  <BR>PAPIER KOPEN:</h2>
    <h2 *ngIf="french" id="wt" >OÙ OBTENIR  <BR>LE NAVIGATOR PAPER:</h2>
  </div>
  <div id="butcont">
    <div id="b1box" class="imgbox" >
      <div id="b1b" class="imgbox">
      <img *ngIf="!french" class="bs"  src="../assets/botao_1_metade_1.png">
      <img *ngIf="french" class="bs"  src="../assets/Imagens_Frances/botao_1_metade_1.png">
      <img *ngIf="!french" class = "bs" src="../assets/botao_1_metade_2.png">
      <img *ngIf="french" class = "bs" src="../assets/Imagens_Frances/botao_1_metade_2.png">
    </div>
    </div>
    <div style="width: 1%;">

    </div>
    <div id="b1box" class="imgbox" >
      <img *ngIf="!french" class="bs"  src="../assets/botao_2.png">
      <img *ngIf="french" class="bs"  src="../assets/Imagens_Frances/botao_2.png">
    </div>
  </div>
  <div id="stripe3"></div>
  <div id="win">
    <h1 *ngIf=!french id="winan" style="color: black;">WIN EEN IPHONE X</h1>
    <h1 *ngIf=french id="winan" style="color: black;">GAGNEZ UN IPHONE X</h1>
  </div>
  <div>
    <form [formGroup]="form" autocomplete="off"  *ngIf="!french" id="form"  (ngSubmit)="submeter()" >
      <input autocomplete="no" id="nome"  type="text" name="nome" placeholder="Naam" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors}">
      <input style="width: 96%;" id="email" type="text" name="email" placeholder="E-mail" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
      <div class="formitem">
      <input id="loja" type="text" name="loja" placeholder="Winkel" formControlName="loja" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loja.errors}">
      <input id="data" type="text" onfocus="(this.type='date')" name="data" formControlName="data" placeholder="Datum van aankoop" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data.errors}">
      </div>
      <div class="formitem">
      <input id="loja" type="number" name="ReamCode" placeholder="Code" formControlName="ReamCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ReamCode.errors}">
      <input id="data" type="text" name="pais" placeholder="Land" formControlName="pais" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pais.errors}">
    </div>
    <div *ngIf="repetido" style="color: red;" id="repetido">Código já usado</div>
    <div *ngIf="notchecked" style="color: red;" id="repetido">Tem de aceitar os termos e condições</div>
      <button style=" border-width: 2px;margin-top:35px" type="submit" value="submit" name="submit">INZENDEN </button>
      </form>
      <!--FR-->
      <form [formGroup]="form" autocomplete="off"  *ngIf="french" id="form"  (ngSubmit)="submeter()" >
        <input autocomplete="no" id="nome"  type="text" name="nome" placeholder="Naam" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors}">
        <input style="width: 96%;" id="email" type="text" name="email" placeholder="E-mail" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
        <div class="formitem">
        <input id="loja" type="text" name="loja" placeholder="Winkel" formControlName="loja" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.loja.errors}">
        <input id="data" type="text" onfocus="(this.type='date')" name="data" formControlName="data" placeholder="Datum van aankoop" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data.errors}">
        </div>
        <div class="formitem">
        <input id="loja" type="number" name="ReamCode" placeholder="Code" formControlName="ReamCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ReamCode.errors}">
        <input id="data" type="text" name="pais" placeholder="Land" formControlName="pais" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pais.errors}">
        <div *ngIf="repetido" style="color: red;" id="repetido">Código já usado</div>
        <div *ngIf="notchecked" style="color: red;" id="repetido">Tem de aceitar os termos e condições</div>
      </div>
        <button style=" border-width: 2px;margin-top:35px" type="submit" value="submit" name="submit">INZENDEN </button>
        </form>
      <div>
        <div id="terms">
      <input type="checkbox" id="check" name="check" value="accept" >
      <label *ngIf="!french" style="margin-left: 5px;" for="vehicle1"> Ik heb de voorwaarden gelezen, begrepen en geaccepteerd.</label>
      <label *ngIf="french" style="margin-left: 5px;" for="vehicle1"> J'ai lu, compris et accepté les termes et conditions.</label>
      </div>
    </div>
  </div>
  <div *ngIf="!submit" style="margin-bottom: 350px;"></div>
  <div *ngIf="submit">
  <div id="tybox">
    <h1 *ngIf="!french" id="ty">BEDANKT VOOR UW <br> DEELNAME</h1>
    <h1 *ngIf="french" id="ty">MERCI POUR VOTRE   <br> PARTICIPATION.</h1>
    <h3 id="ns">Nu delen met uw vrienden</h3>
    <h3 id="ns">Partagez maintenant avec vos amis</h3>
    <p class="hashtag">#turnyourpaperintoaniphonex</p>
    <p style="margin-bottom: 20px;" class="hashtag">#paperintoiphonex</p>
    <div>
      <div id="share">
        <img class="partilha" style="margin-right: 10px;" src="../assets/Imagens_Holandes/partilha_face.png">
        <img class="partilha" style="margin-right: 10px;"  src="../assets/Imagens_Holandes/partilha_insta.png">
        <img class="partilha" style="margin-right: 10px;"  src="../assets/Imagens_Holandes/partilha_twitter.png">
      </div>
    </div>
  </div>
  <div id="stripe4"></div>
  <div id="footer">
    <div>
      <div style="margin-bottom: 20px;" id="redesociais">
        <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_face.png">
        <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_insta.png">
        <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_twitter.png">
        <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_youtube.png">
      </div>
    </div>
    <div>
      <div  id="logos">
        <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_1.png">
        <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_2.png">
        <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_3.png">
        <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_4.png">
        <img id="logo5" class="logo" style="margin-right: 20px;" src="../assets/footer_logo_5.png">
        <img id="logo6" class="logo" style="margin-right: 20px;" src="../assets/footer_logo_6.png">
      </div>
    </div>
    <div style="margin-top: 50px;margin-bottom: 50px;">
      <div id="navlog">
        <img id="smallogo" src="../assets/footer_logo_navigator.png">
        <p id="copy" style="margin-left: 10px;font-size: small;">Copyright 2020 All Rights Reserved Cookies | Privacy</p>
      </div>
    </div>
  </div>

</div>
<div *ngIf="!submit" id="footer2">
  <div>
    <div style="margin-bottom: 20px;" id="redesociais">
      <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_face.png">
      <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_insta.png">
      <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_twitter.png">
      <img class="redesociais" style="margin-right:5px" src="../assets/Imagens_Holandes/redes_sociais_youtube.png">
    </div>
  </div>
  <div>
    <div  id="logos">
      <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_1.png">
      <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_2.png">
      <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_3.png">
      <img class="logo" style="margin-right: 20px;" src="../assets/footer_logo_4.png">
      <img id="logo5" class="logo" style="margin-right: 20px;" src="../assets/footer_logo_5.png">
      <img id="logo6" class="logo" style="margin-right: 20px;" src="../assets/footer_logo_6.png">
    </div>
  </div>
  <div style="margin-top: 50px;margin-bottom: 50px;">
    <div id="navlog">
      <img id="smallogo" src="../assets/footer_logo_navigator.png">
      <p id="copy" style="margin-left: 10px;font-size: small;">Copyright 2020 All Rights Reserved Cookies | Privacy</p>
    </div>
  </div>
</div>

</div>
<iframe name="frame"></iframe>