@font-face {
    font-family: gotham;
    src: url(../assets/font/Gotham-Book.otf
  );
  }
  * {
    font-family: gotham;
}


button {
    background-color: white;
}
button:hover{
    background-color: black;
    color: white;
}
button:focus{
    background-color: black;
    color: white;
}
iframe {
    display: none;
}
.partilha {
    width: 52px;
}
.redesociais {
    width: 52px;
}

#videodiv {
    margin-top: -123px;
}

.bs {
    height: 380px;
}
#footer {
    margin-top: 400px;
    opacity: 0;
}
#footer2 {
    margin-top: 400px;
    opacity: 0;
}

.wtg {
    margin-top:170px;
}

#winan {
    opacity: 0;
    font-size: 1.2vw;
}

#page {
    max-height: 5800px;
    overflow: hidden;
}

#win {
    margin-top: 433px;
}

#logorow {
    height: 7em;
}

#tybox {
    opacity: 0;
    margin-top: 500px;
}

#iphonestatico {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes fade2 {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

#stripe {
    width: 600px;
    height: 200px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
    animation-duration: 1s;
}

@keyframes entrada1 {
    0% {height: 0px;}
    100% {height:200px}
}

#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 400px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 213, 150);
    z-index: -1;
    animation-name: entrada21;
    animation-duration: 1s;
}
@keyframes entrada21 {
    0% {height: 0px;}
    100% {height: 400px;}
}

#stripe3 {
    overflow: hidden;
    width: 2000px;
    
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 290, 150);
    z-index: -1;
    
}
.anim3{
    animation-name: entrada31;
    animation-duration: 1s;
    height: 411px;
}

@keyframes entrada31 {
    0% {height: 0px;}
    100% {height: 411px;}
}


.fade1{
    animation-name: fade;
    animation-duration: 1s;
    opacity: 1 !important;
}
.fade2{
    animation-name: fade;
    animation-duration: 2s;
    opacity: 1 !important;
}
#stripe4 {
    overflow: hidden;
    width: 2000px;
    
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 515, 150);
    z-index: -1;
}

.anim4{
    animation-name: entrada41;
    animation-duration: 1s;
    height: 650px;
}

@keyframes entrada41 {
    0% {height: 0px;}
    100% {height: 650px;}
}

#ty {
    font-size: 2vw;
}

.hashtag {
    color: white;
    text-align: center;
    font-size: 1vw;
    margin: 0;
}

#videodiv {
    z-index: -2;
    position: relative;
}

#ns {
    font-size: 1.5vw;
    text-align: center;
    color: white;
    font-weight: 100;
}

h1 {
    text-align: center;
    font-size: 2vw;
    color:white;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    min-width: 10em;
    animation-name: fade2;
    animation-duration: 2s;
}

video {
    margin: auto;
    display: block;
    min-width: 30em;
}

  


#imgtxt {
    margin-top: 8em;
}

#resma {
    margin-right: 116px;
    display: block;
    min-width: 20em;
    width: 40%;
    float: right;
    opacity: 0;
    
}

#imgresma {
    height: 100%;
    width: 50%;
}

#imgiphone {
    height: 100%;
    width: 50%;
}

#txtresma {
    width: 50%;
    height: inherit;
    display: table-cell; vertical-align: middle;
}

#txtinner {
    margin-top: 13%;
}


.imgtxt{
    display: flex;
}

#text {
    line-height: initial;
    font-size: 1vw;
    width: 39%;
    opacity: 0;
}

#text2{
        float: right;
        line-height: initial;
    font-size: 1vw;
        width: 39%;
        margin-right: 110px;
        opacity: 0;

}

#txtinner2 {
    margin-top: 19%;
}

#iphone {
    opacity: 0;
    height: 400px;
}


#spacer {
    width: 1em;
}

#butcont {
    opacity: 0;
    display: flex;
}

#b1b {
    float: right;
}

#b1box {
    width: 49%;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 15px;
}

#spacer {
    width:1%;
}

#loja {
    width: 50%;
    margin-right: 1%;
}

button {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 15px;
    font-weight: 700;
}

#data {
    width: 45%;
}

#form {
    width: 34%;
    opacity: 0;
    margin: auto;
    padding-left: 2%;
    font-size: 1vw;
}

#nome {
    width: 96%;
}

#terms {
    width: 30%;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

#share {
    display: flex;
    margin: auto;
    width: 214px;
}

#redesociais {
    margin: auto;
    width: 230px;
}

#logos {
    width: 40%;
    margin: auto;
}
#navlog {
    display: flex;
    width: 28%;
    margin: auto;
}
#wt {
    opacity: 0;
    text-align: center;
    color: white;
}
#iphonemobile{
    display: none;
}


@media screen and (min-width: 2200px)  {
    #iphonetablet {
        display: none;
    }
}


  @media screen and (max-width: 2200px) and (min-width: 2000px)  {
    #iphonetablet {
        display: none;
    }
      #smallogo{
          height: 40px;

      }
      #win {
          margin-top: 333px;
      }
    #iphonemobile{
        display: none;
    }
    #logos {
        width: 35%;
    }
    #footer {
        margin-top: 350px;
    }
    #footer2 {
        margin-top: 350px;
    }
    #tybox {
        margin-top: 350px;
    }
    #winan {
        font-size: 1.5vw;
    }
    button {
        margin-bottom: 15px;
    }
    #terms {
        display: flex;
        line-height: 1;
        font-size: 1vw;
    }
    #check{
        margin-top: 0;
    }
    #win {
        margin-top: 300px;
    }
    .bs{
        height: 335px;
    }
    #wt {
        color: white;
        text-align: center;
        font-size: 1.5vw;
    }
    .wtg {
        margin-top: 90px;
    }
    #iphone {
        height: 390px;
    }
    #text2 {
      margin-right: 128px;
    }
  #stripe{
      width: 351px;
      height: 200px;
      background-color: white;
      position: absolute;
      transform: matrix(
          3, -1.5, 3, 1, -22, -150
      );
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:200px}
  }
  #stripe2 {
      overflow: hidden;
  width: 2000px;
  height: 300px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 3, 1, 86, 150);
  z-index: -1;
  animation-name: entrada22;
  animation-duration: 1s;
}
@keyframes entrada22 {
  0% {height: 0px;}
  100% {height: 300px;}

  }
  #stripe3 {
      overflow: hidden;
      width: 2000px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, 352, 150);
      z-index: -1;
  }
  .anim3{
      animation-name: entrada32;
      animation-duration: 1s;
      height: 396px;
  }
  
  @keyframes entrada32 {
      0% {height: 0px;}
      100% {height: 396px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 680, 150);
  z-index: -1;
  }
  .anim4{
      animation-name: entrada42;
      animation-duration: 1s;
      height: 725px;
  }
  @keyframes entrada42 {
      0% {height: 0px;}
      100% {height: 725px;}
  }
}








  @media screen and (max-width: 2000px) and (min-width: 1800px)  {
    #iphonetablet {
        display: none;
    }
      
      #smallogo {
          height: 40px;
      }
    #iphonemobile{
        display: none;
    }
    #logos {
        width: 40%;
    }
    #footer {
        margin-top: 350px;
    }
    #footer2 {
        margin-top: 350px;
    }
    #tybox {
        margin-top: 439px;
        opacity: 0;
    }
    #winan {
        font-size: 1.5vw;
    }
    button {
        margin-bottom: 15px;
    }
    #terms {
        display: flex;
        line-height: 1;
        font-size: 1vw;
    }
    #check{
        margin-top: 0;
    }
    #win {
        margin-top: 433px;
    }
    .bs{
        height: 335px;
    }
    #wt {
        color: white;
        text-align: center;
        font-size: 1.5vw;
    }
    .wtg {
        margin-top: 170px;
    }
    #iphone {
        height: 390px;
    }
    #text2 {
      margin-right: 121px;
    }
  #stripe{
      width: 351px;
      height: 200px;
      background-color: white;
      position: absolute;
      transform: matrix(
          3, -1.5, 3, 1, -22, -150
      );
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:200px}
  }
  #stripe2 {
      overflow: hidden;
  width: 2000px;
  height: 270px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 3, 1, 86, 150);
  z-index: -1;
  animation-name: entrada22;
  animation-duration: 1s;
}
@keyframes entrada22 {
  0% {height: 0px;}
  100% {height: 270px;}

  }
  #stripe3 {
      overflow: hidden;
      width: 2000px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, 400, 150);
      z-index: -1;
  }
  .anim3{
      animation-name: entrada32;
      animation-duration: 1s;
      height: 396px;
  }
  
  @keyframes entrada32 {
      0% {height: 0px;}
      100% {height: 396px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 770, 150);
  z-index: -1;
  }
  .anim4{
      animation-name: entrada42;
      animation-duration: 1s;
      height: 725px;
  }
  @keyframes entrada42 {
      0% {height: 0px;}
      100% {height: 725px;}
  }
}







  @media screen and (max-width: 1800px) and (min-width: 1600px)  {
    #iphonetablet {
        display: none;
    }
      #smallogo {
          height: 40px;
      }
    #iphonemobile{
        display: none;
    }
    #logos {
        width: 43%;
    }
    #footer {
        margin-top: 350px;
    }
    #footer2 {
        margin-top: 350px;
    }
    #tybox {
        margin-top: 430px;
    }
    #winan {
        font-size: 1.5vw;
    }
    button {
        margin-bottom: 15px;
    }
    #terms {
        display: flex;
        line-height: 1;
        font-size: 1vw;
    }
    #check{
        margin-top: 0;
    }
    #win {
        margin-top: 360px;
    }
    .bs{
        height: 335px;
    }
    #wt {
        color: white;
        text-align: center;
        font-size: 1.5vw;
    }
    .wtg {
        margin-top: 190px;
    }
    #iphone {
        height: 310px;
    }
    #text2 {
      margin-right: 85px;
    }
  #stripe{
      width: 351px;
      height: 200px;
      background-color: white;
      position: absolute;
      transform: matrix(
          3, -1.5, 3, 1, -22, -150
      );
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:200px}
  }
  #stripe2 {
      overflow: hidden;
  width: 2000px;
  height: 225px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 3, 1, 10, 150);
  z-index: -1;
  animation-name: entrada22;
  animation-duration: 1s;
}
@keyframes entrada22 {
  0% {height: 0px;}
  100% {height: 225px;}

  }
  #stripe3 {
      overflow: hidden;
      width: 2000px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, 200, 150);
      z-index: -1;
  }
  .anim3{
      animation-name: entrada32;
      animation-duration: 1s;
      height: 396px;
  }
  
  @keyframes entrada32 {
      0% {height: 0px;}
      100% {height: 396px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 540, 150);
  z-index: -1;
  }
  .anim4{
      animation-name: entrada42;
      animation-duration: 1s;
      height: 725px;
  }
  @keyframes entrada42 {
      0% {height: 0px;}
      100% {height: 725px;}
  }
}

@media screen and (max-width: 1600px) and (min-width: 1500px)  {
    #iphonetablet {
        display: none;
    }
#logos {
    width: 46% !important;
}
}

@media screen and (max-width: 1500px) and (min-width: 1400px)  {
    #iphonetablet {
        display: none;
    }
    #logos {
        width: 50% !important;
    }
    }

    @media screen and (max-width: 1600px) and (min-width: 1500px)  {
        #iphonetablet {
            display: none;
        }
          #logos {
              width: 50%;
          }
        #smallogo {
            height: 35px;
        }
        #iphonemobile{
            display: none;
        }
          #logos {
              width: 51%;
          }
          #footer {
              margin-top: 350px;
          }
          #footer2 {
            margin-top: 350px;
        }
          #tybox {
              margin-top: 430px;
          }
          #winan {
              font-size: 1.5vw;
          }
          button {
              margin-bottom: 15px;
          }
          #terms {
              display: flex;
              line-height: 1;
              font-size: 1vw;
          }
          #check{
              margin-top: 0;
          }
          #win {
              margin-top: 420px;
          }
          .bs{
              height: 260px;
          }
          #wt {
              color: white;
              text-align: center;
              font-size: 1.5vw;
          }
          .wtg {
              margin-top: 160px;
          }
          #iphone {
              height: 310px;
          }
          #text2 {
            margin-right: 85px;
          }
        #stripe{
            width: 351px;
            height: 200px;
            background-color: white;
            position: absolute;
            transform: matrix(
                3, -1.5, 3, 1, -22, -150
            );
            animation-name: entrada1;
        animation-duration: 1s;
    }
    
    @keyframes entrada1 {
        0% {height: 0px;}
        100% {height:200px}
        }
        #stripe2 {
            overflow: hidden;
        width: 2000px;
        height: 225px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 3, 1, -111, 150);
        z-index: -1;
        animation-name: entrada22;
        animation-duration: 1s;
    }
    @keyframes entrada22 {
        0% {height: 0px;}
        100% {height: 225px;}
    
        }
        #stripe3 {
            overflow: hidden;
            width: 2000px;
            background-color: white;
            position: absolute;
            transform: matrix(3, -1.5, 2, 1, 117, 150);
            z-index: -1;
        }
        .anim3{
            animation-name: entrada32;
            animation-duration: 1s;
            height: 396px;
        }
        
        @keyframes entrada32 {
            0% {height: 0px;}
            100% {height: 396px;}
        }
        #stripe4 {
            overflow: hidden;
        width: 2000px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 2, 1, 540, 150);
        z-index: -1;
        }
        .anim4{
            animation-name: entrada42;
            animation-duration: 1s;
            height: 725px;
        }
        @keyframes entrada42 {
            0% {height: 0px;}
            100% {height: 725px;}
        }
      }


  @media screen and (max-width: 1500px) and (min-width: 1400px)  {
      #text2{
          margin-right: 146px;
      }
    #iphonetablet {
        display: none;
    }
      #logos {
          width: 50%;
      }
    #smallogo {
        height: 35px;
    }
    #iphonemobile{
        display: none;
    }
      #logos {
          width: 51%;
      }
      #footer {
          margin-top: 350px;
      }
      #footer2 {
        margin-top: 350px;
    }
      #tybox {
          margin-top: 430px;
      }
      #winan {
          font-size: 1.5vw;
      }
      button {
          margin-bottom: 15px;
      }
      #terms {
          display: flex;
          line-height: 1;
          font-size: 1vw;
      }
      #check{
          margin-top: 0;
      }
      #win {
          margin-top: 420px;
      }
      .bs{
          height: 260px;
      }
      #wt {
          color: white;
          text-align: center;
          font-size: 1.5vw;
      }
      .wtg {
          margin-top: 160px;
      }
      #iphone {
          height: 310px;
      }
      #text2 {
        margin-right: 157px;
      }
    #stripe{
        width: 351px;
        height: 200px;
        background-color: white;
        position: absolute;
        transform: matrix(
            3, -1.5, 3, 1, -22, -150
        );
        animation-name: entrada1;
    animation-duration: 1s;
}

@keyframes entrada1 {
    0% {height: 0px;}
    100% {height:200px}
    }
    #stripe2 {
        overflow: hidden;
    width: 2000px;
    height: 225px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -111, 150);
    z-index: -1;
    animation-name: entrada22;
    animation-duration: 1s;
}
@keyframes entrada22 {
    0% {height: 0px;}
    100% {height: 225px;}

    }
    #stripe3 {
        overflow: hidden;
        width: 2000px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 2, 1, 117, 150);
        z-index: -1;
    }
    .anim3{
        animation-name: entrada32;
        animation-duration: 1s;
        height: 396px;
    }
    
    @keyframes entrada32 {
        0% {height: 0px;}
        100% {height: 396px;}
    }
    #stripe4 {
        overflow: hidden;
    width: 2000px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 540, 150);
    z-index: -1;
    }
    .anim4{
        animation-name: entrada42;
        animation-duration: 1s;
        height: 725px;
    }
    @keyframes entrada42 {
        0% {height: 0px;}
        100% {height: 725px;}
    }
  }


  @media screen and (max-width: 1400px) and (min-width: 1300px){
    #ns {
        font-size: 2vw;
    }
    #logos{
        width: 54%;
    }
    #smallogo {
        height: 40px;
    }
  #iphonemobile{
      display: none;
  }
  #iphonetablet {
      display: none;
  }
    #stripe{
      background-color: white;
      width: 300px;
      height: 200px;
      position: absolute;
      transform: matrix(
          3, -1.5, 3, 1, -22, -150
      );
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:200px}
  }
  #stripe2 {
      overflow: hidden;
  width: 2000px;
  height: 225px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 3, 1, -195, 150);
  z-index: -1;
  animation-name: entrada22;
  animation-duration: 1s;
}
@keyframes entrada22 {
  0% {height: 0px;}
  100% {height: 225px;}

  }

  #text2 {
      margin-right: 166px;
  }

  #iphone {
      height: 280px;
  }
  #wt {
      font-size: 2vw;
      text-align: center;
      color: white;
  }
  #check{
      margin-top: 2px;
  }
  #winan{
      font-size: 2vw;
  }
  #tybox{
      margin-top: 435px;
  }
  #ty{
      font-size: 2.5vw;
  }
  #footer {
      margin-top: 300px;
  }
  #footer2 {
      margin-top: 300px;
  }
  #terms{
      font-size: 1vw;
      display: flex
      ;
  }
  .bs{
      height: 300px;
  }
  #text {
      font-size: 1.3vw;
  }
  #text2 {
      font-size: 1.3vw;
  }
  #win {
      margin-top: 325px;
  }
  #stripe3 {
      overflow: hidden;
      width: 2000px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, -40, 150);
      z-index: -1;
  }
  .anim3{
      animation-name: entrada32;
      animation-duration: 1s;
      height: 350px;
  }
  
  @keyframes entrada32 {
      0% {height: 0px;}
      100% {height: 350px;}
  }
  #stripe4 {
  overflow: hidden;
  width: 2000px;
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 395, 150);
  z-index: -1;
  }
  .anim4{
      animation-name: entrada42;
      animation-duration: 1s;
      height: 725px;
  }
  @keyframes entrada42 {
      0% {height: 0px;}
      100% {height: 725px;}
  }
  .wtg{
      margin-top: 170px;
  }
  .hashtag{
      font-size: 1.3vw;
  }
}

  @media screen and (max-width: 1300px) and (min-width: 1200px){
      #ns {
          font-size: 2vw;
      }
      #logos{
          width: 60%;
      }
      #smallogo {
          height: 40px;
      }
    #iphonemobile{
        display: none;
    }
    #iphonetablet {
        display: none;
    }
      #stripe{
        background-color: white;
        width: 300px;
        height: 200px;
        position: absolute;
        transform: matrix(
            3, -1.5, 3, 1, -22, -150
        );
        animation-name: entrada1;
    animation-duration: 1s;
}

@keyframes entrada1 {
    0% {height: 0px;}
    100% {height:200px}
    }
    #stripe2 {
        overflow: hidden;
    width: 2000px;
    height: 225px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -195, 150);
    z-index: -1;
    animation-name: entrada22;
    animation-duration: 1s;
}
@keyframes entrada22 {
    0% {height: 0px;}
    100% {height: 225px;}

    }

    #text2 {
        margin-right: 82px;
    }

    #iphone {
        height: 280px;
    }
    #wt {
        font-size: 2vw;
        text-align: center;
        color: white;
    }
    #check{
        margin-top: 2px;
    }
    #winan{
        font-size: 2vw;
    }
    #tybox{
        margin-top: 435px;
    }
    #ty{
        font-size: 2.5vw;
    }
    #footer {
        margin-top: 300px;
    }
    #footer2 {
        margin-top: 300px;
    }
    #terms{
        font-size: 1vw;
        display: flex
        ;
    }
    .bs{
        height: 300px;
    }
    #text {
        font-size: 1.3vw;
    }
    #text2 {
        font-size: 1.3vw;
    }
    #win {
        margin-top: 325px;
    }
    #stripe3 {
        overflow: hidden;
        width: 2000px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 2, 1, -40, 150);
        z-index: -1;
    }
    .anim3{
        animation-name: entrada32;
        animation-duration: 1s;
        height: 350px;
    }
    
    @keyframes entrada32 {
        0% {height: 0px;}
        100% {height: 350px;}
    }
    #stripe4 {
    overflow: hidden;
    width: 2000px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 395, 150);
    z-index: -1;
    }
    .anim4{
        animation-name: entrada42;
        animation-duration: 1s;
        height: 725px;
    }
    @keyframes entrada42 {
        0% {height: 0px;}
        100% {height: 725px;}
    }
    .wtg{
        margin-top: 170px;
    }
    .hashtag{
        font-size: 1.3vw;
    }
  }














  @media screen and (max-width: 1150px) and (min-width:1050px) {
    #iphonetablet {
        display: none;
    }
      #logos{
          width: 58%;
      }
      #smallogo {
          height: 35px;
      }
    #iphonemobile{
        display: none;
    }
      #terms {
          font-size: 1vw;
          display: flex;
      }
      #footer {
          margin-top: 330px;
      }
      #footer2 {
        margin-top: 330px;
    }
      button {
          margin-bottom: 9px;
      }
      #check {
          margin-top: 1px;
      }
      #form {
          font-size: 1.5vw;
      }#text{
          font-size: 1.5vw;
      }
      #text2 {
          font-size: 1.5vw;
          margin-right: 66px;
      }
      #wt {
          font-size:2.2vw;
          color: white;
          text-align: center;
      }
      #win {
          margin-top: 120px;
      }
      #winan {
          font-size: 2.2vw;
      }
      .wtg {
          margin-top: 200px;
      }
      .bs{
          height: 230px;
      }
    #iphone {
        height: 220px;
    }
    h1 {
        font-size: 3vw;
    }
    .imgbox {
        height: 300px;
    }
    #ty{
        font-size: 4vw;
    }
    #ns {
        font-size: 3vw;
    }
    .hashtag {
        font-size: 2.5vw;
    }

    #ty {
        font-size: 3vw;
    }
    #tybox {
        margin-top: 225px;
    }
    #ns {
        font-size: 2.5vw;
    }
    .hashtag {
        font-size: 2vw;
    }
      #stripe{
        width: 600px;
        height: 124px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 3, 1, -22, -150);
        animation-name: entrada1;
    animation-duration: 1s;
}

@keyframes entrada1 {
    0% {height: 0px;}
    100% {height:124px}
    }
    #stripe2 {
        overflow: hidden;
        width: 2000px;
        height: 251px;
        background-color: white;
        position: absolute;
        transform: matrix(3, -1.5, 2, 1, -390, 150);
        z-index: -1;
        animation-name: entrada23;
        animation-duration: 1s;
    }
    @keyframes entrada23 {
        0% {height: 0px;}
        100% {height: 251px;}
    }
    #stripe3 {
    overflow: hidden;
    width: 2000px;
    
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -440, 150);
    z-index: -1;
    }
    .anim3{
        animation-name: entrada33;
        animation-duration: 1s;
        height:250px;
    }
    
    @keyframes entrada33 {
        0% {height: 0px;}
        100% {height: 250px;}
    }
    #stripe4 {
        overflow: hidden;
    width: 2000px;
    
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, 660, 150);
    z-index: -1;

    }
    .anim4{
        animation-name: entrada43;
        animation-duration: 1s;
        height: 1123px;
    }
    @keyframes entrada43 {
        0% {height: 0px;}
        100% {height: 1123px;}
    }
  }















  @media screen and (max-width: 1050px) and (min-width:950px) {

    #txtinner {
        margin-top: -26%;
        margin-left: 80px;
        width: 688px;
    }
      #resma {
          min-width: 18em;
          margin-right: 30px;
      }
    #videodiv {
        margin-bottom: -200px;
        margin-top: -340px;
    }

    #iphonestatico {
        display: none;
    }
      #smallogo {
          height: 40px;
      }
    #iphonemobile{
        display: none;
    }
    #terms {
        font-size: 1.2vw;
        display: flex;
        width: 37%;
    }
    #footer {
        margin-top: 250px;
    }
    #footer2 {
        margin-top: 250px;
    }
    #logos {
        width: 700px;
    }
    button {
        margin-bottom: 9px;
    }
    #check {
        margin-top: 1px;
    }
    #form {
        font-size: 1.7vw;
        width: 42%;
    }#text{
        font-size: 1.8vw;
        margin-top: 30%;
        
    }
    #text2 {
        font-size: 1.8vw;
        margin-right: -2%;
        width: 66%;
    }
    #wt {
        font-size:2.2vw;
        color: white;
        text-align: center;
    }
    #win {
        margin-top: 120px;
    }
    #winan {
        font-size: 2.2vw;
    }
    .wtg {
        margin-top: 11%;
    }
    .bs{
        height: 230px;
    }
  #iphone {
      height: 290px;
      margin-left: 87px;
  }
  h1 {
      font-size: 3vw;
  }
  .imgbox {
      height: 300px;
  }
  #ty{
      font-size: 4vw;
  }
  #ns {
      font-size: 3vw;
  }
  .hashtag {
      font-size: 2.5vw;
  }

  #ty {
      font-size: 3vw;
  }
  #tybox {
      margin-top: 225px;
  }
  #ns {
      font-size: 2.5vw;
  }
  .hashtag {
      font-size: 2vw;
  }
    #stripe{
      width: 600px;
      height: 100px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 3, 1, -22, -150);
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:100px}
  }
  #stripe2 {
      overflow: hidden;
      width: 2000px;
      height: 251px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, -500, 150);
      z-index: -1;
      animation-name: entrada23;
      animation-duration: 1s;
  }
  @keyframes entrada23 {
      0% {height: 0px;}
      100% {height: 251px;}
  }
  #stripe3 {
  overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, -520, 150);
  z-index: -1;
  }
  .anim3{
      animation-name: entrada33;
      animation-duration: 1s;
      height:250px;
  }
  
  @keyframes entrada33 {
      0% {height: 0px;}
      100% {height: 250px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 660, 150);
  z-index: -1;

  }
  .anim4{
      animation-name: entrada43;
      animation-duration: 1s;
      height: 1260px;
  }
  @keyframes entrada43 {
      0% {height: 0px;}
      100% {height: 1260px;}
  }
  }


  @media screen and (max-width: 950px) and (min-width:850px) {
      
    #share {
        width: 175px;
    }
    .redesociais {
        width: 44px;
    }
    .partilha {
        width: 44px;
    }
    #resma {
        min-width: 15em;
        margin-right: 53px;
    }
    #videodiv {
        margin-top: -270px;
        margin-bottom: -120px;
    }
    #iphonestatico {
        display: none;
    }
    #iphonemobile {
        display: none;
    }
    #smallogo {
        height: 45px;
    }
    #imgresma {
        width: 75%;
    }
  #terms {
      font-size: 1.4vw;
      display: flex;
      width: 48%;
  }
  #footer {
      margin-top: 250px;
  }
  #footer2 {
      margin-top: -90px;
  }
  #logos {
      width: 390px;
  }
  button {
      margin-bottom: 9px;
  }
  #check {
      margin-top: 1px;
  }
  #form {
      font-size: 2.3vw;
      width: 52%;
  }#text{
      font-size: 1.8vw;
      width: 184px;
      margin-left: 24px;
  }
  #text2 {
      font-size: 1.8vw;
      width: 57%;
      margin-right: -10%;
  }
  #wt {
      font-size:2.7vw;
      color: white;
      text-align: center;
  }
  #win {
      margin-top: 200px;
  }
  #winan {
      font-size: 2.7vw;
  }
  .wtg {
      margin-top: 17%;
  }
  .bs{
      height: 230px;
  }
#iphone {
    height: 250px;
    margin-left: 27%;
}
h1 {
    font-size: 3vw;
}
.imgbox {
    height: 300px;
}
#ty{
    font-size: 4vw;
}
#ns {
    font-size: 3vw;
}
.hashtag {
    font-size: 2.5vw;
}

#ty {
    font-size: 3.5vw;
}
#tybox {
    margin-top: 370px;
}
#ns {
    font-size: 3vw;
}
.hashtag {
    font-size: 2.5vw;
}
#navlog {
    width: 70%;
}
  #stripe{
    width: 600px;
    height: 100px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
animation-duration: 1s;
}

@keyframes entrada1 {
0% {height: 0px;}
100% {height:100px}
}
#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 251px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -650, 150);
    z-index: -1;
    animation-name: entrada23;
    animation-duration: 1s;
}
@keyframes entrada23 {
    0% {height: 0px;}
    100% {height: 251px;}
}
#stripe3 {
overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, -470, 150);
z-index: -1;
}
.anim3{
    animation-name: entrada33;
    animation-duration: 1s;
    height:350px;
}

@keyframes entrada33 {
    0% {height: 0px;}
    100% {height: 350px;}
}
#stripe4 {
    overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, 840, 150);
z-index: -1;

}
.anim4{
    animation-name: entrada43;
    animation-duration: 1s;
    height: 1360px;
}
@keyframes entrada43 {
    0% {height: 0px;}
    100% {height: 1360px;}
}

  }



  @media screen and (max-width: 850px) and (min-width:750px) {
      
    #share {
        width: 175px;
    }
    .redesociais {
        width: 44px;
    }
    .partilha {
        width: 44px;
    }
    #resma {
        min-width: 15em;
        margin-right: 53px;
    }
    #videodiv {
        margin-top: -200px;
        margin-bottom: -120px;
    }
    #iphonestatico {
        display: none;
    }
    #iphonemobile {
        display: none;
    }
    #smallogo {
        height: 45px;
    }
    #imgresma {
        width: 75%;
    }
  #terms {
      font-size: 1.4vw;
      display: flex;
      width: 48%;
  }
  #footer {
      margin-top: 250px;
  }
  #footer2 {
      margin-top: -150px;
  }
  #logos {
      width: 390px;
  }
  button {
      margin-bottom: 9px;
  }
  #check {
      margin-top: 1px;
  }
  #form {
      font-size: 2.3vw;
      width: 52%;
  }#text{
      font-size: 1.8vw;
      width: 184px;
      margin-left: 24px;
  }
  #text2 {
      font-size: 1.8vw;
      width: 57%;
      margin-right: -2%;
  }
  #wt {
      font-size:2.7vw;
      color: white;
      text-align: center;
  }
  #win {
      margin-top: 110px;
  }
  #winan {
      font-size: 2.7vw;
  }
  .wtg {
      margin-top: 21%;
  }
  .bs{
      height: 230px;
  }
#iphone {
    height: 250px;
    margin-left: 27%;
}
h1 {
    font-size: 3vw;
}
.imgbox {
    height: 300px;
}
#ty{
    font-size: 4vw;
}
#ns {
    font-size: 3vw;
}
.hashtag {
    font-size: 2.5vw;
}

#ty {
    font-size: 3vw;
}
#tybox {
    margin-top: 225px;
}
#ns {
    font-size: 2.5vw;
}
.hashtag {
    font-size: 2vw;
}
#navlog {
    width: 70%;
}
  #stripe{
    width: 600px;
    height: 100px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
animation-duration: 1s;
}

@keyframes entrada1 {
0% {height: 0px;}
100% {height:100px}
}
#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 251px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -650, 150);
    z-index: -1;
    animation-name: entrada23;
    animation-duration: 1s;
}
@keyframes entrada23 {
    0% {height: 0px;}
    100% {height: 251px;}
}
#stripe3 {
overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, -625, 150);
z-index: -1;
}
.anim3{
    animation-name: entrada33;
    animation-duration: 1s;
    height:250px;
}

@keyframes entrada33 {
    0% {height: 0px;}
    100% {height: 250px;}
}
#stripe4 {
    overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, 660, 150);
z-index: -1;

}
.anim4{
    animation-name: entrada43;
    animation-duration: 1s;
    height: 1360px;
}
@keyframes entrada43 {
    0% {height: 0px;}
    100% {height: 1360px;}
}
}







  @media screen and (max-width: 750px) and (min-width:650px) {
      #redesociais {
          width: 210px;
      }
    #iphonetablet {
        display: none;
    }
      #share {
          width: 175px;
      }
      .redesociais {
          width: 44px;
      }
      .partilha {
          width: 44px;
      }
      #resma {
          min-width: 15em;
          margin-right: 53px;
      }
      #videodiv {
          margin-top: -442px;
          margin-bottom: -350px;
      }
      #iphonestatico {
          display: none;
      }
      #iphonemobile {
          display: block
      }
      #smallogo {
          height: 45px;
      }
      #imgresma {
          width: 75%;
      }
    #terms {
        font-size: 1.4vw;
        display: flex;
        width: 48%;
    }
    #footer {
        margin-top: 250px;
    }
    #footer2 {
        margin-top: -150px;
    }
    #logos {
        width: 390px;
    }
    button {
        margin-bottom: 9px;
    }
    #check {
        margin-top: 1px;
    }
    #form {
        font-size: 2.3vw;
        width: 52%;
    }#text{
        font-size: 1.8vw;
        width: 184px;
        margin-left: 24px;
    }
    #text2 {
        font-size: 1.8vw;
        width: 57%;
        margin-right: 30px;
    }
    #wt {
        font-size:2.7vw;
        color: white;
        text-align: center;
    }
    #win {
        margin-top: 160px;
    }
    #winan {
        font-size: 2.7vw;
    }
    .wtg {
        margin-top: 200px;
    }
    .bs{
        height: 230px;
    }
  #iphone {
      height: 250px;
      margin-left: 27%;
  }
  h1 {
      font-size: 3vw;
  }
  .imgbox {
      height: 300px;
  }
  #ty{
      font-size: 4vw;
  }
  #ns {
      font-size: 3vw;
  }
  .hashtag {
      font-size: 2.5vw;
  }

  #ty {
      font-size: 3vw;
  }
  #tybox {
      margin-top: 225px;
  }
  #ns {
      font-size: 2.5vw;
  }
  .hashtag {
      font-size: 2vw;
  }
  #navlog {
      width: 70%;
  }
    #stripe{
      width: 600px;
      height: 100px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 3, 1, -22, -150);
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:100px}
  }
  #stripe2 {
      overflow: hidden;
      width: 2000px;
      height: 251px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, -650, 150);
      z-index: -1;
      animation-name: entrada23;
      animation-duration: 1s;
  }
  @keyframes entrada23 {
      0% {height: 0px;}
      100% {height: 251px;}
  }
  #stripe3 {
  overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, -625, 150);
  z-index: -1;
  }
  .anim3{
      animation-name: entrada33;
      animation-duration: 1s;
      height:250px;
  }
  
  @keyframes entrada33 {
      0% {height: 0px;}
      100% {height: 250px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 660, 150);
  z-index: -1;

  }
  .anim4{
      animation-name: entrada43;
      animation-duration: 1s;
      height: 1360px;
  }
  @keyframes entrada43 {
      0% {height: 0px;}
      100% {height: 1360px;}
  }
}









@media screen and (max-width: 650px) and (min-width:500px) {
    #iphonetablet {
        display: none;
    }
    #redesociais {
        width: 181px;
    }
    .redesociais {
        width: 40px;
    }
    #share {
        width: 155px;
    }
    .partilha {
        width: 41px;
    }
    #resma {
        min-width: 12em;
        margin-right: 19%;
    }
    #iphonestatico {
        display: none;
    }
    #iphonemobile {
        display: block;
    }
    #smallogo {
        height:36px;
    }
    #videodiv {
        margin-top: -380px;
        margin-bottom: -250px;
    }
    #imgresma {
        width: 75%;
    }
    .logo{
        width: 20%;
    }

    #logos {
        width: 61%;
        margin-left: 28%;
    }
  #terms {
      font-size: 1.9vw;
      display: flex;
      width: 53%;
  }
  #footer {
      margin-top: 250px;
  }
  #footer2 {
    margin-top: -132px;
}
  button {
      margin-bottom: 9px;
  }
  #check {
      margin-top: 1px;
  }
  #form {
      font-size: 2.5vw;
      width: 57%;
  }#text{
      font-size: 2vw;
      width: 77%;
      margin-top: 17%;
  }
  #text2 {
      font-size: 2vw;
      margin-right: 12%;
      width: 53%;
  }
  #wt {
      font-size:3vw;
      color: white;
      text-align: center;
  }
  #win {
      margin-top: 120px;
  }
  #winan {
      font-size: 3vw;
  }
  .wtg {
      margin-top: 260px;
  }
  .bs{
      height: 190px;
  }
#iphone {
    height: 180px;
    margin-left: 19%;
}
h1 {
    font-size: 3vw;
}
.imgbox {
    height: 300px;
}
#ty{
    font-size: 4vw;
}

.hashtag {
    font-size: 2.5vw;
}

#ty {
    font-size: 5vw;
}
#tybox {
    margin-top: 300px;
}
#ns {
    font-size: 3.5vw;
}
.hashtag {
    font-size: 3vw;
}
#navlog {
    width: 70%;
}
  #stripe{
    width: 600px;
    height: 100px;
    background-color:white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
animation-duration: 1s;
}

@keyframes entrada1 {
0% {height: 0px;}
100% {height:100px}
}
#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 251px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -814, 150);
    z-index: -1;
    animation-name: entrada23;
    animation-duration: 1s;
}
@keyframes entrada23 {
    0% {height: 0px;}
    100% {height: 251px;}
}
#stripe3 {
overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, -746, 150);
z-index: -1;
}
.anim3{
    animation-name: entrada33;
    animation-duration: 1s;
    height:250px;
}

@keyframes entrada33 {
    0% {height: 0px;}
    100% {height: 250px;}
}
#stripe4 {
    overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, 773, 150);
z-index: -1;

}
.anim4{
    animation-name: entrada43;
    animation-duration: 1s;
    height: 1506px;
}
@keyframes entrada43 {
    0% {height: 0px;}
    100% {height: 1506px;}
}
}





/*MOBILE*/
@media screen and (max-width: 499px){
    #resma {
        min-width: 10em;
        margin-right: 0px;
    }
    #videodiv {
        margin-top: -200px;
        margin-bottom: -190px;
    }
    #iphonetablet {
        display: none;
    }

    #share {
        width: 160px;
    }

    .partilha {
        width: 44px;
    }

    .redesociais{
        width: 44px;
    }

    #redesociais {
        width: 196px;
    }

    #logo5 {
        margin-bottom: 28px;
    }
    #logo6 {
        margin-bottom: 45px;
    }
    #iphonemobile{
        display: initial;
    }
    #iphonestatico{
        display: none;
    }
    #copy {
        margin-top: 0;
    }
    #logo {
        margin-top: -45px;
    margin-left: 12px;
    width: 134px;
    min-width: 0;
    }
    #videodiv {
        margin-top: -145px;
        margin-bottom: -111px;
    }
    #imgresma {
        width: 75%;
    }
    .logo{
        width: 21%;
    }

    #logos {
        width: 75%;
        margin-left: 21%;
    }
    #smallogo {
        width: 50%;
        height: 33%;
    }
  #terms {
      font-size: 2.5vw;
      display: flex;
      width: 65%;
  }
  #footer {
      margin-top: 250px;
  }
  #footer2 {
    margin-top: -230px;
}
  button {
      margin-bottom: 9px;
  }
  #check {
      margin-top: -1px;
  }
  #form {
      font-size: 2.5vw;
      width: 65%;
  }#text{
      font-size: 2.5vw;
      width: 65%;
      margin-top: 37%;
  }
  #text2 {
      font-size: 2.5vw;
      margin-right: 47px;
      width: 53%;
  }
  #wt {
      font-size:3.6vw;
      color: white;
      text-align: center;
  }
  #win {
      margin-top: 135px;
  }
  #winan {
      font-size: 3.6vw;
  }
  .wtg {
      margin-top: 210px;
  }
  .bs{
      height: 160px;
  }
#iphone {
    height: 180px;
    margin-left: 10%;
}
h1 {
    font-size: 3vw;
}
.imgbox {
    height: 170px;
}
#ty{
    font-size: 6vw;
}
#ns {
    font-size: 3vw;
}
.hashtag {
    font-size: 2.5vw;
}

#tybox {
    margin-top: 225px;
}
#ns {
    font-size: 4.5vw;
}
.hashtag {
    font-size: 3vw;
}
#navlog {
    width: 70%;
}
  #stripe{
      z-index: -1;
    width: 600px;
    height: 70px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
animation-duration: 1s;
}

@keyframes entrada1 {
0% {height: 0px;}
100% {height:70px}
}
#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 200px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -814, 150);
    z-index: -1;
    animation-name: entrada23;
    animation-duration: 1s;
}
@keyframes entrada23 {
    0% {height: 0px;}
    100% {height: 200px;}
}
#stripe3 {
overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, -797, 150);
z-index: -1;
}
.anim3{
    animation-name: entrada33;
    animation-duration: 1s;
    height:200px;
}

@keyframes entrada33 {
    0% {height: 0px;}
    100% {height: 200px;}
}
#stripe4 {
    overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, 660, 150);
z-index: -1;

}
.anim4{
    animation-name: entrada43;
    animation-duration: 1s;
    height: 1506px;
}
@keyframes entrada43 {
    0% {height: 0px;}
    100% {height: 1506px;}
}
}



@media screen and (max-width: 499px) and (min-height:800px) and (max-height:900px){
    #resma {
         min-width: 11em;
         margin-right: 14px;
    }
    #videodiv {
        margin-top: -200px;
        margin-bottom: -190px;
    }
    #iphonetablet {
        display: none;
    }

    #logo5 {
        margin-bottom: 28px;
    }
    #logo6 {
        margin-bottom: 45px;
    }
    #iphonemobile{
        display: initial;
    }
    #iphonestatico{
        display: none;
    }
    #copy {
        margin-top: 0;
    }
    #logo {
        margin-top: -45px;
    margin-left: 12px;
    width: 134px;
    min-width: 0;
    }
    #videodiv {
        margin-top: -145px;
        margin-bottom: -111px;
    }
    #imgresma {
        width: 75%;
    }
    .logo{
        width: 21%;
    }

    #logos {
        width: 75%;
        margin-left: 21%;
    }
    #smallogo {
        width: 50%;
        height: 33%;
    }
  #terms {
      font-size: 2.5vw;
      display: flex;
      width: 65%;
  }
  #footer {
      margin-top: 250px;
  }
  #footer2 {
    margin-top: 250px;
}
  button {
      margin-bottom: 9px;
  }
  #check {
      margin-top: -1px;
  }
  #form {
      font-size: 2.5vw;
      width: 65%;
  }#text{
      font-size: 2.5vw;
      width: 65%;
      margin-top: 21%;
  }
  #text2 {
      font-size: 2.5vw;
      margin-right: 47px;
      width: 53%;
  }
  #wt {
      font-size:3.6vw;
      color: white;
      text-align: center;
  }
  #win {
      margin-top: 135px;
  }
  #winan {
      font-size: 3.6vw;
  }
  .wtg {
      margin-top: 190px;
  }
  .bs{
      height: 160px;
  }
#iphone {
    height: 180px;
    margin-left: 10%;
}
h1 {
    font-size: 3vw;
}
.imgbox {
    height: 170px;
}
#ty{
    font-size: 6vw;
}
#ns {
    font-size: 3vw;
}
.hashtag {
    font-size: 2.5vw;
}

#tybox {
    margin-top: 225px;
}
#ns {
    font-size: 4.5vw;
}
.hashtag {
    font-size: 3vw;
}
#navlog {
    width: 70%;
}
  #stripe{
      z-index: -1;
    width: 600px;
    height: 70px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 3, 1, -22, -150);
    animation-name: entrada1;
animation-duration: 1s;
}

@keyframes entrada1 {
0% {height: 0px;}
100% {height:70px}
}
#stripe2 {
    overflow: hidden;
    width: 2000px;
    height: 200px;
    background-color: white;
    position: absolute;
    transform: matrix(3, -1.5, 2, 1, -814, 150);
    z-index: -1;
    animation-name: entrada23;
    animation-duration: 1s;
}
@keyframes entrada23 {
    0% {height: 0px;}
    100% {height: 200px;}
}
#stripe3 {
overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, -797, 150);
z-index: -1;
}
.anim3{
    animation-name: entrada33;
    animation-duration: 1s;
    height:200px;
}

@keyframes entrada33 {
    0% {height: 0px;}
    100% {height: 200px;}
}
#stripe4 {
    overflow: hidden;
width: 2000px;

background-color: white;
position: absolute;
transform: matrix(3, -1.5, 2, 1, 660, 150);
z-index: -1;

}
.anim4{
    animation-name: entrada43;
    animation-duration: 1s;
    height: 1506px;
}
@keyframes entrada43 {
    0% {height: 0px;}
    100% {height: 1506px;}
}
}


/*TABLET*/
@media screen and (min-width: 1000px) and (min-height:1300px) {

    #txtinner {
        margin-top: -26%;
        margin-left: 80px;
        width: 688px;
    }
      #resma {
          min-width: 18em;
          margin-right: 30px;
      }
    #videodiv {
        margin-bottom: -445px;
        margin-top: -544px;
    }

    #iphonestatico {
        display: none;
    }
      #smallogo {
          height: 40px;
      }
    #iphonemobile{
        display: block;
    }
    #iphonetablet {
        display: none;
    }
    #terms {
        font-size: 1.2vw;
        display: flex;
        width: 37%;
    }
    #footer {
        margin-top: 250px;
    }
    #footer2 {
        margin-top: 250px;
    }
    #logos {
        width: 700px;
    }
    button {
        margin-bottom: 9px;
    }
    #check {
        margin-top: 1px;
    }
    #form {
        font-size: 1.7vw;
        width: 42%;
    }#text{
        font-size: 1.8vw;
        margin-top: 30%;
        
    }
    #text2 {
        font-size: 1.8vw;
        margin-right: -2%;
        width: 66%;
    }
    #wt {
        font-size:2.2vw;
        color: white;
        text-align: center;
    }
    #win {
        margin-top: 120px;
    }
    #winan {
        font-size: 2.2vw;
    }
    .wtg {
        margin-top: 11%;
    }
    .bs{
        height: 230px;
    }
  #iphone {
      height: 290px;
      margin-left: 87px;
  }
  h1 {
      font-size: 3vw;
  }
  .imgbox {
      height: 300px;
  }
  #ty{
      font-size: 4vw;
  }
  #ns {
      font-size: 3vw;
  }
  .hashtag {
      font-size: 2.5vw;
  }

  #ty {
      font-size: 3vw;
  }
  #tybox {
      margin-top: 225px;
  }
  #ns {
      font-size: 2.5vw;
  }
  .hashtag {
      font-size: 2vw;
  }
    #stripe{
      width: 600px;
      height: 100px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 3, 1, -22, -150);
      animation-name: entrada1;
  animation-duration: 1s;
}

@keyframes entrada1 {
  0% {height: 0px;}
  100% {height:100px}
  }
  #stripe2 {
      overflow: hidden;
      width: 2000px;
      height: 251px;
      background-color: white;
      position: absolute;
      transform: matrix(3, -1.5, 2, 1, -500, 150);
      z-index: -1;
      animation-name: entrada23;
      animation-duration: 1s;
  }
  @keyframes entrada23 {
      0% {height: 0px;}
      100% {height: 251px;}
  }
  #stripe3 {
  overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, -520, 150);
  z-index: -1;
  }
  .anim3{
      animation-name: entrada33;
      animation-duration: 1s;
      height:250px;
  }
  
  @keyframes entrada33 {
      0% {height: 0px;}
      100% {height: 250px;}
  }
  #stripe4 {
      overflow: hidden;
  width: 2000px;
  
  background-color: white;
  position: absolute;
  transform: matrix(3, -1.5, 2, 1, 660, 150);
  z-index: -1;

  }
  .anim4{
      animation-name: entrada43;
      animation-duration: 1s;
      height: 1260px;
  }
  @keyframes entrada43 {
      0% {height: 0px;}
      100% {height: 1260px;}
  }
  }
